form {
  width: 50%;
  margin: 0 auto;
}
.input-block {
  margin: 18px 0;
  display: flex;
}
.input-block label {
  width: 14%;
  font-size: 18px;
  font-weight: 700;
}
.input-block input {
  padding: 5px;
  outline: 0;
}
